@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::selection {
  background: #06b6d4;
  color: white;
}